

<header class="headertest">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <ul>
        <!-- <li><img src="/inageaccounting.jpg" alt="logo"></li> -->
        <li><span style="color: rgb(14, 14, 139); font-size: 23px;">ACCOUNTING.com</span></li>
        <li id="contact"><a href="#">Contact Us</a></li>
        <li><i id="faicon" class="fa fa-user" aria-hidden="true" style='font-size:24px'></i></li>
        <li><i  id="faicon" class="fa fa-bell" style='font-size:24px'></i></li>
        <li><a (click)="onAboutClick()">About Us</a></li>
        <li><a id="homeid" (click)="onHomeClick()">Home</a></li>
        
    </ul>
</header>
<router-outlet></router-outlet>