<!-- <div class="container">
    <div class="homeBg" style="display: flex;"></div>
</div> -->

<link rel="stylesheet" 
          href=
"https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity=
"sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" 
          crossorigin="anonymous">

<div class="homeBg">
    <div class="vl">    
    </div>
    <div class="spdw">
       <h2>SPDW watch</h2> 
    </div>
    <div>
        <button type="button" class="btn btn-primary">Button1</button>
        <button type="button" class="btn btn-primary">Button2</button>
</div>
    





